.home .jumbotron {
    background: none;
    height: 70vh;
}
.home .logo {
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 60px;
}
.home .logo img {
    width: 20vw;
}
.home h2 {
    color: #ffffff;
}

.home h4 {
    color: #ebedf3;
}

.sponsors-area {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+60&0+0,0.65+54 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 54%, rgba(0,0,0,0.65) 60%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 54%,rgba(0,0,0,0.65) 60%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 54%,rgba(0,0,0,0.65) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}

body.home {

    background: linear-gradient(
                    rgba(0,0,0, .3),
                    rgba(0,0,0, .7)), url('/images/bg_image.png') center center no-repeat fixed;
}

@media (max-width: 767px) {

}
@media (min-width: 767px) {
    .home .logo img {
        width: 10vw;
    }
}
